:root {
    --vt-c-light-gradient-1: #EEF1FF;
    --vt-c-light-gradient-2: #D2DAFF;
    --vt-c-light-gradient-3: #BECFFF;
    --vt-c-light-gradient-4: #B4CAFF;
    --vt-c-light-gradient-5: #AAC4FF;
    --vt-c-light-gradient-6: #B1B2FF;

    --vt-c-dark-gradient-1: #313E50;
    --vt-c-dark-gradient-2: #4D526B;
    --vt-c-dark-gradient-3: #6D6786;
    --vt-c-dark-gradient-4: #927B9E;
    --vt-c-dark-gradient-5: #B990B2;
    --vt-c-dark-gradient-6: #E1A5C4;

    --vt-c-indigo: #2c3e50;

    --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
    --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
    --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
    --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

    --vt-c-text-light-1: var(--vt-c-indigo);
    --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
    --vt-c-text-dark-1: var(--vt-c-white);
    --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

:root {
    --color-background-1: var(--vt-c-light-gradient-1);
    --color-background-2: var(--vt-c-light-gradient-2);
    --color-background-3: var(--vt-c-light-gradient-3);
    --color-background-4: var(--vt-c-light-gradient-4);
    --color-background-5: var(--vt-c-light-gradient-5);
    --color-background-6: var(--vt-c-light-gradient-6);

    --color-border: var(--vt-c-divider-light-2);
    --color-border-hover: var(--vt-c-divider-light-1);

    --color-heading: var(--vt-c-text-light-1);
    --color-text: var(--vt-c-text-light-1);
}

/*
@media (prefers-color-scheme: dark) {
    :root {
        --color-background-1: var(--vt-c-light-gradient-1);
        --color-background-2: var(--vt-c-light-gradient-2);
        --color-background-3: var(--vt-c-light-gradient-3);
        --color-background-4: var(--vt-c-light-gradient-4);
        --color-background-5: var(--vt-c-light-gradient-5);
        --color-background-6: var(--vt-c-light-gradient-6);

        --color-border: var(--vt-c-divider-dark-2);
        --color-border-hover: var(--vt-c-divider-dark-1);

        --color-heading: var(--vt-c-text-dark-1);
        --color-text: var(--vt-c-text-dark-2);
    }
}
*/


//todo : il faudrait l'enlever
:root {
    /* page */
    --page-background-color: #282c30;
    --page-border-size: 3.5vw;

    /* header */
    --header-text-color: white;

    /* debug */
    --debug-elements-borders: 1px solid #444444;

    /* code */
    --code-header-background-color: #252526;

    /* contact */
    --rounded-border: 5px;
    --content-main-padding: 20px;
    --content-main-padding-reduce: calc(var(--content-main-padding) / 1.2);
    --contact-avatar-height: 120px;
    --contact-element-height: 50px;
}