/*
@mixin button {
    border: 1px solid black;
    color: black;
    font: bold 14px sans-serif;
    padding: 8px 16px;
}

.button {
    @include button;
}

.button--primary {
    @include button;
    background-color: blue;
    border-color: blue;
}

.button--disabled {
    @include button;
    border-color: gray;
    color: gray;
}
*/